# Decision Tree Regression

In [1]:
import numpy as np
import pandas as pd

In [3]:
# veriyi oku
df = pd.read_csv('Power_Plant.csv', delimiter=",")
df.head()

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [4]:
x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [5]:
# Veri setini Eğitim seti ve Test seti olarak ayırma

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)
x_train

array([[  30.53,   73.21, 1000.37,   74.17],
       [  23.07,   65.46, 1014.07,   46.77],
       [  20.68,   42.04, 1010.2 ,   63.43],
       ...,
       [  23.09,   51.19, 1009.4 ,   81.61],
       [  22.06,   45.61, 1014.3 ,   77.75],
       [  13.48,   46.18, 1018.15,   88.38]])

In [6]:
# Algoritmayı eğit

from sklearn.tree import DecisionTreeRegressor

regressor = DecisionTreeRegressor(random_state=0)

regressor.fit(x_train, y_train)

DecisionTreeRegressor(random_state=0)

In [7]:
#Test verilerini kullanarak çıktıyı tahmin et

y_pred = regressor.predict(x_test)
print(y_pred)

[438.79 452.5  431.77 ... 450.55 457.88 439.12]

In [8]:
y_pred_df = pd.DataFrame(data=y_pred,columns=["Tahmini_Sonuc"])

In [9]:
y_test_df = pd.DataFrame(data=y_test,columns=["Gerçek_Sonuç"])

karsılastırma_df = pd.concat([y_test_df,y_pred_df],axis=1)
karsılastırma_df

      Gerçek_Sonuç  Tahmini_Sonuc
0           440.17         438.79
1           450.86         452.50
2           441.76         431.77
3           464.95         468.80
4           467.62         470.23
...            ...            ...
1889        430.92         428.74
1890        466.83         469.52
1891        446.75         450.55
1892        449.99         457.88
1893        440.46         439.12

[1894 rows x 2 columns]

In [10]:
# Modelin değerlendirilmesi

from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.9293764338795556

In [11]:
unseen_dataset_df = pd.read_csv('Power_Plant_Unseen.csv', delimiter=";")
unseen_dataset_df.head(10)

      AT      V       AP     RH
0  12.45  40.56  1017.84  66.52
1  16.70  40.56  1019.04  50.90
2  19.88  44.60  1015.52  37.85
3  19.64  46.33  1013.33  98.99
4  20.01  59.87  1019.00  84.12
5  16.27  58.20  1018.47  80.03
6  10.80  41.39  1019.74  74.08
7   9.64  39.35  1015.10  91.76
8  11.53  41.14  1025.63  88.54
9  21.83  63.07  1011.57  87.02

In [12]:
# unseen_dataset
unseen_dataset = unseen_dataset_df.iloc[:, :].values
unseen_dataset

array([[  12.45,   40.56, 1017.84,   66.52],
       [  16.7 ,   40.56, 1019.04,   50.9 ],
       [  19.88,   44.6 , 1015.52,   37.85],
       [  19.64,   46.33, 1013.33,   98.99],
       [  20.01,   59.87, 1019.  ,   84.12],
       [  16.27,   58.2 , 1018.47,   80.03],
       [  10.8 ,   41.39, 1019.74,   74.08],
       [   9.64,   39.35, 1015.1 ,   91.76],
       [  11.53,   41.14, 1025.63,   88.54],
       [  21.83,   63.07, 1011.57,   87.02],
       [   9.51,   40.46, 1018.84,   70.12],
       [  28.84,   75.6 , 1018.41,   53.96],
       [  25.82,   72.39, 1003.4 ,   86.33],
       [  28.47,   69.23, 1013.18,   40.73],
       [  19.87,   49.69, 1012.23,   68.57],
       [  14.38,   44.84, 1024.59,   81.68],
       [  27.37,   65.06, 1013.09,   50.92],
       [  28.05,   62.6 , 1017.01,   46.46],
       [   8.66,   36.25, 1028.22,   86.96],
       [  16.61,   45.87, 1009.34,   97.93],
       [  11.28,   42.44, 1014.62,   99.78],
       [  21.1 ,   62.66, 1011.19,   83.49],
       [  16.47,   44.89, 1010.04,   82.01],
       [  30.39,   71.8 , 1010.87,   64.11],
       [   8.29,   36.08, 1020.38,   81.53],
       [  28.9 ,   68.12, 1011.87,   46.56],
       [  18.42,   58.95, 1016.95,   86.77],
       [  18.13,   66.86, 1012.9 ,   78.84],
       [  26.27,   58.33, 1013.81,   60.43],
       [  26.05,   73.88, 1005.67,   82.08],
       [  18.2 ,   52.72, 1025.87,   54.26],
       [  31.04,   66.54, 1003.83,   53.05],
       [  21.67,   62.39, 1007.98,   92.96],
       [  24.48,   50.23, 1017.03,   66.89],
       [  24.41,   73.67, 1007.39,   86.92],
       [  12.77,   36.71, 1013.29,   86.4 ],
       [  13.51,   40.89, 1011.03,   84.83],
       [  32.13,   74.34, 1003.34,   56.39],
       [  19.68,   62.96, 1020.41,   82.26],
       [  26.87,   74.99, 1002.48,   71.91],
       [  25.63,   56.85, 1012.68,   49.7 ],
       [  19.39,   60.1 , 1010.28,   83.31],
       [  13.84,   42.18, 1015.74,   79.76],
       [  24.6 ,   57.32, 1012.48,   45.14],
       [  34.14,   74.34, 1000.19,   43.56],
       [  29.61,   67.07, 1005.91,   39.28],
       [  31.94,   74.99, 1002.05,   34.12],
       [  26.98,   43.77, 1010.95,   40.8 ],
       [  15.92,   37.64, 1014.93,   83.73],
       [  14.49,   41.92, 1030.3 ,   56.62],
       [  26.71,   76.86, 1002.86,   74.5 ],
       [  26.73,   49.02, 1007.75,   67.73],
       [  28.53,   49.3 , 1003.83,   59.69],
       [  26.85,   75.6 , 1017.43,   74.55],
       [  10.25,   37.14, 1013.14,   70.73],
       [  10.88,   44.63, 1020.52,   86.81],
       [  26.75,   64.79, 1017.79,   54.31],
       [  13.45,   43.14, 1015.5 ,   74.33],
       [  23.96,   65.34, 1015.52,   56.82],
       [  14.32,   45.08, 1023.24,   84.53],
       [  13.16,   40.71, 1021.99,   77.91],
       [  23.4 ,   65.06, 1014.32,   67.38],
       [  26.5 ,   66.75, 1018.48,   61.62],
       [   7.39,   39.85, 1011.63,   83.61],
       [  25.97,   70.32, 1007.48,   57.01],
       [  25.99,   74.67, 1016.59,   83.39],
       [  25.87,   44.57, 1007.43,   55.92],
       [  28.66,   77.95, 1009.56,   69.07],
       [   7.84,   41.39, 1018.21,   91.92],
       [  31.91,   69.89, 1014.59,   54.51],
       [  31.94,   69.98, 1013.32,   56.17],
       [  30.03,   70.02, 1010.07,   64.2 ],
       [  22.43,   63.94, 1012.76,   93.24],
       [  22.86,   58.96, 1014.03,   54.96],
       [  14.05,   40.35, 1011.52,   66.21],
       [  12.04,   41.58, 1018.02,   88.91],
       [  19.31,   44.71, 1016.13,   30.59],
       [  16.76,   43.77, 1012.25,   77.95],
       [  31.5 ,   70.32, 1011.44,   64.09],
       [  14.43,   35.85, 1021.99,   78.25],
       [   9.39,   41.79, 1021.6 ,   50.09],
       [  25.15,   62.91, 1012.23,   48.22],
       [   9.66,   41.82, 1033.19,   73.19],
       [  18.31,   42.23, 1012.88,   79.32],
       [  28.21,   70.02, 1010.58,   51.34],
       [  17.48,   58.95, 1016.49,   90.35],
       [  19.92,   38.52, 1018.15,   60.68],
       [  23.1 ,   70.79, 1006.53,   90.81],
       [  22.61,   54.42, 1014.74,   75.87],
       [  25.6 ,   63.76, 1010.18,   67.43],
       [  25.84,   67.83, 1009.26,   59.55],
       [  22.99,   60.95, 1015.14,   69.86],
       [  22.61,   45.38, 1013.92,   62.91],
       [  17.54,   44.58, 1016.56,   79.  ],
       [  26.18,   52.36, 1013.46,   56.65],
       [  20.97,   47.43, 1007.64,   71.18],
       [  14.1 ,   41.16, 1021.26,   73.87],
       [  17.83,   66.86, 1011.65,   77.31],
       [   8.46,   40.8 , 1023.57,   81.27],
       [  30.92,   78.05, 1011.  ,   59.62]])

In [13]:
y_pred_unseen = regressor.predict(unseen_dataset)
y_pred_unseen

array([475.86, 467.46, 460.59, 452.82, 444.71, 458.31, 473.77, 481.96,
       474.75, 443.41, 486.34, 441.04, 432.77, 435.62, 456.64, 465.48,
       440.51, 443.24, 480.31, 455.96, 468.64, 446.02, 457.75, 437.4 ,
       481.6 , 444.83, 450.17, 451.19, 444.77, 434.48, 461.57, 425.91,
       442.78, 455.41, 438.42, 472.42, 470.69, 434.15, 454.26, 437.06,
       438.89, 451.88, 463.06, 438.89, 433.94, 429.93, 435.43, 442.15,
       460.48, 471.78, 436.85, 438.92, 437.93, 433.48, 473.31, 480.87,
       439.6 , 471.1 , 442.32, 466.47, 458.49, 447.16, 434.05, 483.71,
       439.13, 437.7 , 446.49, 437.55, 477.14, 428.72, 431.09, 437.48,
       443.9 , 452.89, 470.48, 465.47, 465.49, 457.05, 433.42, 468.51,
       487.92, 447.76, 475.01, 462.73, 441.66, 450.68, 451.96, 438.  ,
       448.27, 443.66, 431.35, 444.62, 460.18, 468.87, 451.42, 450.  ,
       459.84, 451.19, 475.46, 435.17])

In [14]:
y_pred_unseen_df = pd.DataFrame(y_pred_unseen, columns=["Tahmini_Output"])
y_pred_unseen_df.head(10)

   Tahmini_Output
0          475.86
1          467.46
2          460.59
3          452.82
4          444.71
5          458.31
6          473.77
7          481.96
8          474.75
9          443.41

In [15]:
all_df = unseen_dataset_df.merge(y_pred_unseen_df, how="left", left_index=True, right_index=True)
all_df

       AT      V       AP     RH  Tahmini_Output
0   12.45  40.56  1017.84  66.52          475.86
1   16.70  40.56  1019.04  50.90          467.46
2   19.88  44.60  1015.52  37.85          460.59
3   19.64  46.33  1013.33  98.99          452.82
4   20.01  59.87  1019.00  84.12          444.71
..    ...    ...      ...    ...             ...
95  20.97  47.43  1007.64  71.18          450.00
96  14.10  41.16  1021.26  73.87          459.84
97  17.83  66.86  1011.65  77.31          451.19
98   8.46  40.80  1023.57  81.27          475.46
99  30.92  78.05  1011.00  59.62          435.17

[100 rows x 5 columns]